<div class="header">
  <h1>Task List: <%= @list.name %><small> [<%= link_to 'edit', edit_list_path(@list) %>] or [<%= link_to 'destroy', list_path(@list), method: :delete, data: {confirm: "Are you sure you want to delete the list #{@list.name}?"} %>] this list. [<%= link_to 'Invite', new_user_invitation_path %>] another user to help out on the list </small> </h1>
</div>

<h3>Tasks:</h3>
<% @list.tasks.each do |task| %>
  <p><%= task.name %> | created: <%= task.created_at.strftime("%d %b, %Y %I:%M %p") %> will be deleted in <%= distance_of_time_in_words(Time.now, task.deletion_time) %> | <%= link_to 'complete?', [task.list, task], method: :delete, data: {confirm: "Are you sure the task #{task.name} was completed?" } %></p>
<% end %>

<h3>Add Task:</h3>
<%= form_for([@list, @task]) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placholder: 'task name', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>

<%= render partial: 'shared/invitation', locals: {resource: User.new, resource_name: 'user'} %>
